
/***********
Screen Sizes
************/
$sm: 500px;
$md: 768px;
$lg: 1024px;
$xlg: 1440px;


/***********
Light Colors
***********/
$LightColor: #F4F7FE;
$LightTextColor: rgb(24 25 26/1);
$LightBackgroundColor: #ddd;
$LightHeroColor: #FBFBFB;


/***********
Dark Colors
***********/
$DarkColor: #0b0c27;
$DarkTextColor: rgb(240 242 245/1);
$DarkBackgroundColor: #191a35;


